@using Cafe.Domain;
@using Cafe.Web.Models.DishViewModels
@model DishUpdateViewModel
@{
    ViewData["Title"] = "Dish update";
}
@using (Html.BeginForm("UpdateView", "Dishes", FormMethod.Post, new { id="updateForm" }))
{
    <h3>Dish updating</h3>
    <p>
        <label>Name</label><br />
        <input type="text" name="Name" value="@Model.Dish.Name" required />
    </p>
    <p>
        <label>Cost</label><br />
        <input type="number" name="Cost" value="@Model.Dish.Cost" required />
    </p>
    <p>
        <label>CookingTime</label><br />
        <input type="number" name="CookingTime" value="@Model.Dish.CookingTime" required />
    </p>
    <p>
        <label>Ingridients</label><br />
        @foreach (var ingridient in Model.Ingridients)
        {
            if (Model.IngridientsDishes.FirstOrDefault(x => x.Ingridient.Id == ingridient.Id) == null)
            {
                <input type="checkbox" id="@ingridient.Name" name="ingridientIds" value="@ingridient.Id" />
                <label for="@ingridient.Name">@ingridient.Name &nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="number" name="weights" />
            }
            else
            {
                <input type="checkbox" id="@ingridient.Name" name="ingridientIds" value="@ingridient.Id" checked />
                <label for="@ingridient.Name">@ingridient.Name &nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="number" name="weights" value="@Model.IngridientsDishes.First(x => x.IngridientId == ingridient.Id).IngridientWeight" />
            }
            <label> g</label>

            <br />
        }
    </p>
    <p>
        <input type="submit" value="Update" />
    </p>
}

<script>
    $("#updateForm").validate({
        rules: {
            Name: {
                required: true
            },
            Cost: {
                required: true,
                min: 1
            },
            CookingTime: {
                required: true,
                min: 0
            }
        },
        messages: {
            Name: "<h5 class=\"text-danger\">Enter name</h5>",
            Cost: "<h5 class=\"text-danger\">Enter cost</h5>",
            CookingTime: "<h5 class=\"text-danger\">Enter cooking time</h5>"
        }
    })
</script>