@{
    ViewData["Title"] = "Order create";
}
@using Cafe.Web.Models.OrderViewModels;
@model CreateOrderViewModel;
@using (Html.BeginForm("Create", "Orders", FormMethod.Post, new { id="addForm" }))
{
    <h3>New order adding</h3>
    <p>
        <label>Customer name</label><br />
        <input type="text" name="CustomerName" required />
    </p>
    <p>
        <label>Order date</label><br />
        <input type="datetime-local" name="OrderDate" required />
    </p>
    <p>
        <label>Customer phone number</label><br />
        <input id="phoneNumber"type="text" name="CustomerPhoneNumber" required />
    </p>
    <p>
        <label>Payment method</label>
        <select name="PaymentMethod">
            <option value="0" selected>cash</option>
            <option value="1">card</option>
        </select>
    </p>
    <p>
        <label>Employee</label>
        <select name="employee" asp-items="@Model.Employees"></select>
    </p>
    <p>
        <label>Dishes</label><br/>

        @foreach (var dish in Model.Dishes)
        {
            <input type="checkbox" id="@dish.Name" name="dishIds" value="@dish.Id" />
            <label for="@dish.Name">@dish.Name &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="number" name="count"/>
            <br />
        }
    </p>
    <p>
        <input type="submit" value="Create" />
    </p>
}

<script>
    $("#addForm").validate({
        rules:{
            CustomerName: {
                required: true
            },
            OrderDate: {
                required: true
            },
            CustomerPhoneNumber: {
                required: true
            }
        },
        messages: {
            CustomerName: "<h5 class=\"text-danger\">Enter customer name</h5>",
            OrderDate: "<h5 class=\"text-danger\">Pick order date</h5>",
            CustomerPhoneNumber: "<h5 class=\"text-danger\">Enter phone number</h5>"
        }
    })
</script>