@using Cafe.Web.Models.OrderViewModels
@model UpdateOrderViewModel

@{
    ViewData["Title"] = "Order update";
}
@using (Html.BeginForm("UpdateView", "Orders", FormMethod.Post, new { id="updateForm"}))
{
    <h3>Order updating</h3>
    <p>
        <label>Customer name</label><br />
        <input type="text" name="CustomerName" value="@Model.CustomerName" required />
    </p>
    <p>
        <label>Date</label><br />
        <input type="datetime-local" name="OrderDate" value="@Model.Date.ToString("yyyy-MM-ddThh:mm")" required />
    </p>
    <p>
        <label>Customer phone number</label><br />
        <input type="text" name="CustomerPhoneNumber" value="@Model.PhoneNumber" required />
    </p>
    <p>
        <label>Payment method</label>
        <select name="PaymentMethod">
            @if (Model.PaymentMethod == 0)
            {
                <option value="0" selected>cash</option>
                <option value="1">card</option>
            }
            else
            {
                <option value="0">cash</option>
                <option value="1" selected>card</option>
            }
        </select>
    </p>
    <p>
        <label>Employee</label>
        <select name="employee" asp-items="@Model.Employees"></select>
    </p>
    <p>
        <label>IsCompleted</label>
        <select name="IsCompleted">
            @if (Model.IsComplete == 0)
            {
                <option value="0" selected>false</option>
                <option value="1">true</option>
            }
            else
            {
                <option value="0">false</option>
                <option value="1" selected>true</option>
            }
        </select>
    </p>
    <p>
        <label>Dishes</label><br />
        
        @foreach (var dish in Model.CountDishes)
        {
            if (dish.Value != 0)
            {
                <input type="checkbox" id="@dish.Key.Name" name="dishIds" value="@dish.Key.Id" checked/>
                <label for="@dish.Key.Name">@dish.Key.Name &nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="number" name="count" value="@dish.Value"/>
            }
            else
            {
                <input type="checkbox" id="@dish.Key.Name" name="dishIds" value="@dish.Key.Id"/>
                <label for="@dish.Key.Name">@dish.Key.Name &nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="number" name="count"/>
            }
            <br />
        }
    </p>
    <p>
        <input type="submit" value="Update" />
    </p>
}

<script>
    $("#updateForm").validate({
        rules:{
            CustomerName: {
                required: true
            },
            OrderDate: {
                required: true
            },
            CustomerPhoneNumber: {
                required: true
            }
        },
        messages: {
            CustomerName: "<h5 class=\"text-danger\">Enter customer name</h5>",
            OrderDate: "<h5 class=\"text-danger\">Pick order date</h5>",
            CustomerPhoneNumber: "<h5 class=\"text-danger\">Enter phone number</h5>"
        }
    })
</script>